body {
  background-color: #f8e8a6;
  margin: 8px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.link {
  color: green;
  margin: 10px;
}
.links {
  display: block;
  text-align: center;
}
.croisant-photo {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
